.formacao {
    background: #141414; /* Define a cor de fundo como preto escuro */
    color: #fff; /* Define a cor do texto como branco */
  }
  
  .formacao-container {
    max-width: 1200px; /* Define a largura máxima do container */
    padding: 120px 20px; /* Adiciona padding interno de 120px no topo e embaixo, 20px nas laterais */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    display: grid; /* Usa o layout de grid para organizar os filhos */
    grid-template-columns: 1fr 2fr; /* Define duas colunas, com a segunda coluna sendo o dobro da primeira */
    gap: 100px; /* Espaço de 100px entre as colunas */
    position: relative; /* Define a posição do container como relativa para posicionar pseudo-elementos absolutos dentro dele */
  }
  
  .formacao-contain::after {
    content: ""; /* Adiciona conteúdo vazio após o container (usado para a imagem de fundo) */
    display: block; /* Faz com que o pseudo-elemento se comporte como um bloco */
    width: 130px; /* Define a largura do pseudo-elemento */
    height: 100px; /* Define a altura do pseudo-elemento */
    background: url("../img/detalhe.svg") no-repeat center; /* Adiciona uma imagem de fundo ao pseudo-elemento, centralizando-a e sem repetir */
    position: absolute; /* Posiciona o pseudo-elemento de forma absoluta dentro do container */
    bottom: -50px; /* Define a posição do fundo do pseudo-elemento em relação ao fundo do container */
    left: 20px; /* Define a posição da esquerda do pseudo-elemento em relação à esquerda do container */
  }
  
  .formacao .subtitulo {
    color: #000000; /* Define a cor do texto do subtítulo como preto */
    max-width: 5ch; /* Define a largura máxima do subtítulo como 5 caracteres */
  }
  
  .formacao-texto {
    font-size: 1.5rem; /* Define o tamanho da fonte do texto como 1.5 vezes o tamanho da fonte base */
    line-height: 1.33; /* Define a altura da linha como 1.33 vezes o tamanho da fonte */
    max-width: 40ch; /* Define a largura máxima do texto como 40 caracteres */
    margin-bottom: 60px; /* Adiciona uma margem de 60px abaixo do texto */
    color: #a3a3a3; /* Define a cor do texto como cinza claro */
  }
  
  .formacao-texto strong {
    color: #fff; /* Define a cor do texto em negrito como branco */
  }
  
  .faculdade-lista {
    display: flex; /* Usa o layout flexível para os itens da lista */
    flex-wrap: wrap; /* Permite que os itens da lista quebrem para a linha seguinte se necessário */
    gap: 20px; /* Espaço de 20px entre os itens da lista */
    margin-bottom: 60px; /* Adiciona uma margem de 60px abaixo da lista */
  }
  
  .faculdade {
    background: #000; /* Define a cor de fundo dos itens da lista como preto */
    padding: 20px; /* Adiciona padding interno de 20px aos itens da lista */
    border-radius: 4px; /* Define bordas arredondadas com raio de 4px */
    flex: 1; /* Faz com que os itens da lista se expandam para preencher o espaço disponível */
    display: flex; /* Usa o layout flexível para os itens dentro dos itens da lista */
    flex-direction: column; /* Organiza os itens em uma coluna */
  }
  
  .faculdade-tipo {
    color: #a3a3a3; /* Define a cor do texto como cinza claro */
    margin-bottom: 10px; /* Adiciona uma margem de 10px abaixo do tipo de faculdade */
    font-size: 0.875rem; /* Define o tamanho da fonte como 0.875 vezes o tamanho da fonte base */
  }
  
  .faculdade-curso {
    flex: 1; /* Faz com que o curso se expanda para preencher o espaço disponível */
    font-size: 1.125rem; /* Define o tamanho da fonte como 1.125 vezes o tamanho da fonte base */
    line-height: 1.4; /* Define a altura da linha como 1.4 vezes o tamanho da fonte */
    margin-bottom: 40px; /* Adiciona uma margem de 40px abaixo do curso */
    position: relative; /* Define a posição do curso como relativa para posicionar o pseudo-elemento ::before */
  }
  
  .faculdade-curso::before {
    content: " "; /* Adiciona um conteúdo vazio antes do curso (usado para a barra vertical) */
    display: block; /* Faz com que o pseudo-elemento se comporte como um bloco */
    width: 4px; /* Define a largura da barra vertical */
    height: 20px; /* Define a altura da barra vertical */
    background: linear-gradient(#b6f829, #67dd0a); /* Define um gradiente de cor verde para a barra vertical */
    position: absolute; /* Posiciona o pseudo-elemento de forma absoluta dentro do curso */
    left: -24px; /* Define a posição da esquerda da barra vertical em relação à esquerda do curso */
  }
  
  .falcudade-instituicao {
    font-size: 1.125rem; /* Define o tamanho da fonte como 1.125 vezes o tamanho da fonte base */
    color: #a3a3a3; /* Define a cor do texto como cinza claro */
  }
  
  .cursos {
    margin-bottom: 60px; /* Adiciona uma margem de 60px abaixo da seção de cursos */
  }
  
  .formacao-extra h3 {
    font-size: 0.875rem; /* Define o tamanho da fonte do título extra como 0.875 vezes o tamanho da fonte base */
    line-height: 1.4; /* Define a altura da linha como 1.4 vezes o tamanho da fonte */
    color: #8f8f8f; /* Define a cor do texto como cinza médio */
    text-transform: uppercase; /* Transforma o texto para maiúsculas */
    margin-bottom: 30px; /* Adiciona uma margem de 30px abaixo do título extra */
    position: relative; /* Define a posição do título extra como relativa para posicionar o pseudo-elemento ::before */
  }
  
  .formacao-extra h3::before {
    content: ""; /* Adiciona conteúdo vazio antes do título extra (usado para o ícone) */
    display: block; /* Faz com que o pseudo-elemento se comporte como um bloco */
    width: 24px; /* Define a largura do pseudo-elemento */
    height: 24px; /* Define a altura do pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento de forma absoluta dentro do título extra */
    left: -36px; /* Define a posição da esquerda do pseudo-elemento em relação à esquerda do título extra */
    top: -4px; /* Define a posição do topo do pseudo-elemento em relação ao topo do título extra */
  }
  
  .cursos h3::before {
    background: url(../img/cursos.svg) no-repeat center center; /* Define a imagem de fundo para o pseudo-elemento dos cursos */
  }
  
  .idiomas h3::before {
    background: url(../img/idiomas.svg) no-repeat center center; /* Define a imagem de fundo para o pseudo-elemento dos idiomas */
  }
  
  .formacao-extra li {
    font-size: 1.125rem; /* Define o tamanho da fonte dos itens extra como 1.125 vezes o tamanho da fonte base */
    line-height: 1.1; /* Define a altura da linha como 1.1 vezes o tamanho da fonte */
    margin-bottom: 20px; /* Adiciona uma margem de 20px abaixo dos itens extra */
  }
  
  .formacao-extra span {
    color: #8f8f8f; /* Define a cor do texto dentro dos spans como cinza médio */
  }
  
  .cursos li {
    display: flex; /* Usa o layout flexível para os itens da lista de cursos */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens */
  }
  
  @media (max-width: 800px) {
    .formacao-container {
      grid-template-columns: 1fr; /* Muda o layout das colunas para uma única coluna em telas menores que 800px */
      padding: 60px 20px; /* Reduz o padding interno para 60px no topo e embaixo, 20px nas laterais */
      gap: 40px; /* Reduz o espaço entre os itens para 40px */
    }
    .formacao-texto {
      font-size: 1.25rem; /* Reduz o tamanho da fonte do texto para 1.25 vezes o tamanho da fonte base em telas menores que 800px */
    }
    .formacao .subtitulo {
      color: #ffffff; /* Define a cor do subtítulo como branco em telas menores que 800px */
    }
    .formacao-extra h3::before {
      position: initial; /* Reseta a posição do pseudo-elemento para o comportamento padrão em telas menores que 800px */
      margin-bottom: 10px; /* Ajusta a margem abaixo do pseudo-elemento para 10px em telas menores que 800px */
    }
  }